.logo {
    width: 15%;

}
header {
    background-color: thistle;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-top: -8px;
}
nav {
    width: 80%;

    margin: auto;
}
ul {
    display: inline-block;
    float: right;
}
li {
    display: inline-block;
    padding: 25px 25px;
    font-size: 20px;
    font-weight: bold;
    
}
li:hover {
    background-color: thistle;
    text-decoration-thickness: 5px;
text-decoration: underline;
}
.deco {
    text-decoration: none;
    color: black;

}
.i {
    width: 100%;
    margin-top: 110px;
}
.work {
    width: 100%;
    margin-top: 30px;
}
.work >.right {
    width: 50%;
    border: 2px solid;
    float: left;
}
.work >.right >img {
    width: 100%;
}
.a1 {
    background-color: turquoise;
    font-size: 36px;
    text-align: center;
}
.work > .left {
    width: 48%;
    height: 200px;
    border: 2px solid;
    display: inline-block;
    float: right;
    background-color: black;
    font-family: cursive;
text-align: justify;
text-align: center;
color: white;
}
.what {
    width: 6%;
    position: fixed;
    top: 540px;
    left: 1240px;
    z-index: 2;
}
.per {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
    border: 3px dashed red;
    font-size: 36px;
    font-weight: bolder;


}
.perp {
    position: relative;
    top: 80px;
}
#Place {
    font-size: 30px;
    width: 420px;
    background-color: rgb(0, 238, 255);
    height: 520px;
    border: 5px solid;
    margin: 80px auto;
    box-shadow: 2px -2px 68px 0px rgba(0,0,0,1);}
.Placeo  {
    background-image: linear-gradient(to left, #ff0000, #bbff00);
    margin-left: 40px;
    margin-top: 20px;
    width: 300px;
height: 40px;
font-size: 20px;
border-radius: 20px;
cursor: pointer;
}
.font {
    width: 380px;
    padding-left: 3px;
    height: 30px;

}
.pro {
    color: black;
    margin-left: 800px;
    text-decoration: none;
}
.p1 {
    width: 300px;
    height: 520px;
    border: 2px solid;
    display: inline-block;
    margin-left: 20px;
    margin-top: 90px;
}
.p1i {
 padding: 20px;   
 height: 200px;
 
}
.p1p {
   text-align: center;
}
.pg {
 
    background-color: green;
    color: white;
margin-left: 5px;
    width: 280px;
height: 40px;
font-size: 20px;
border-radius: 20px;
cursor: pointer;
 
    
}
.pg:hover {
    background-color: navy;
}

/* view all product */
.av {
text-align: center;

}
.ls {
    color: white;
    font-size: 70px;
    margin-top: 90px;
    margin-left: 90px;
}
.go {
    background-image: linear-gradient(to left, #ff0000, #bbff00);
    margin-left: 40px;
    margin-top: 20px;
    width: 300px;
height: 40px;
font-size: 20px;
border-radius: 20px;
cursor: pointer;
}
